In [2]:
import pandas as pd

In [10]:
wisdm_filename = './all_wisdm.csv'
wisdm_dataset = pd.read_csv(wisdm_filename)

ids = wisdm_dataset['PERSON_ID'].unique()

length = len(ids)
train_ids = ids[0:int(length*0.7)]
validation_ids = ids[int(length*0.7):int(length*0.9)]
test_ids = ids[int(length*0.9):]

wisdm_train_df = wisdm_dataset[wisdm_dataset['PERSON_ID'].isin(train_ids)]
wisdm_validation_df = wisdm_dataset[wisdm_dataset['PERSON_ID'].isin(validation_ids)]
wisdm_test_df = wisdm_dataset[wisdm_dataset['PERSON_ID'].isin(test_ids)]

In [11]:
wisdm_train_df = wisdm_train_df[::20]
wisdm_validation_df = wisdm_validation_df[::20]
wisdm_test_df = wisdm_test_df[::20]

In [12]:
wisdm_train_df.to_csv('./wisdm_train.csv', mode='w+', index=False)
wisdm_validation_df.to_csv('./wisdm_validation.csv', mode='w+', index=False)
wisdm_train_df.to_csv('./wisdm_test.csv', mode='w+', index=False)

In [7]:
wisdm_train_df.head()

    PERSON_ID                TIMESTAMP      ACC_X     ACC_Y     ACC_Z ACTIVITY
0         101  2021-01-01 02:00:00.000   7.091625 -0.591667  8.195502  walking
20        101  2021-01-01 02:00:01.000  15.775395 -1.613991 -0.596007  walking
40        101  2021-01-01 02:00:02.000  13.172897 -3.567660  1.850868  walking
60        101  2021-01-01 02:00:03.000  15.634137 -1.693000  0.771083  walking
80        101  2021-01-01 02:00:04.000  13.122620 -1.020229  1.889175  walking

In [8]:
wisdm_validation_df.head()

,PERSON_ID,TIMESTAMP,ACC_X,ACC_Y,ACC_Z,ACTIVITY
2367201,136,2021-01-01 02:00:00.000,8.114398,-6.578668,0.362572,walking
2367221,136,2021-01-01 02:00:01.000,8.100033,-6.360796,3.973028,walking
2367241,136,2021-01-01 02:00:02.000,1.738639,-6.320094,10.236259,walking
2367261,136,2021-01-01 02:00:03.000,14.109480,-6.238691,4.162170,walking
2367281,136,2021-01-01 02:00:04.000,7.458387,-4.107851,3.927538,walking

In [9]:
wisdm_test_df.head()

,PERSON_ID,TIMESTAMP,ACC_X,ACC_Y,ACC_Z,ACTIVITY
3382425,146,2021-01-01 02:00:00.000,11.951555,9.408914,9.237429,walking
3382445,146,2021-01-01 02:00:01.000,-1.135151,4.115334,3.919907,walking
3382465,146,2021-01-01 02:00:02.000,7.445668,-0.440832,-1.988983,walking
3382485,146,2021-01-01 02:00:03.000,4.381090,-1.925237,7.020398,walking
3382505,146,2021-01-01 02:00:04.000,3.389890,-0.165499,-2.041656,walking